{% extends "base.html" %}

{% block title %}HatBoard · Attack{% endblock %}
{% block body %}

<body class="nav-fixed bg-light">
<main>
    <div class="container-xl p-5">
        {% if not connected %}
        <div class="alert alert-warning" role="alert">HatBoard is not connected to HatSploit Framework</div>
        {% endif %}
        <div class="row gx-5">
            <div class="mb-5">
                <div class="card card-raised h-100">
                    <div class="card-header bg-transparent px-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-4">
                                <h2 class="card-title mb-0">Download File</h2>
                                <div class="card-subtitle">Download file from Session</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div>
                            <div class="form-floating">
                                <form action="/attack/" method="post">
                                    {% csrf_token %}
                                    <select class="form-select" name="session">
                                        {% for session in sessions %}
                                        <option value="{{ session.session_id }}">Session #{{ session.session_id }}</option>
                                        {% endfor %}
                                    </select>
                                    <p></p>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="remote_file" placeholder="remote_file">
                                        <input class="form-control" type="text" name="local_path" placeholder="local_path">
                                        <button class="btn btn-dark" type="submit">
                                            <i class="fa fa-rocket"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <div class="card card-raised h-100">
                    <div class="card-header bg-transparent px-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-4">
                                <h2 class="card-title mb-0">Upload File</h2>
                                <div class="card-subtitle">Upload file to Session</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div>
                            <div class="form-floating">
                                <form action="/attack/" method="post">
                                    {% csrf_token %}
                                    <select class="form-select" name="session">
                                        {% for session in sessions %}
                                        <option value="{{ session.session_id }}">Session #{{ session.session_id }}</option>
                                        {% endfor %}
                                    </select>
                                    <p></p>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="local_file" placeholder="local_file">
                                        <input class="form-control" type="text" name="remote_path" placeholder="remote_path">
                                        <button class="btn btn-dark" type="submit">
                                            <i class="fa fa-rocket"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

{% endblock %}