{% extends "base.html" %}

{% block title %}HatBoard · Map{% endblock %}
{% block body %}

<body class="nav-fixed bg-light">
<main>
        <div class="card card-raised">
            <div class="card-header bg-transparent px-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-4">
                        <h2 class="card-title mb-0">Sessions Map</h2>
                        <div class="card-subtitle">Global Sessions Map</div>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                    <div class="w-100">
                        {% if locations %}
                        <div id="themap" style="height: 400px;"></div>
                        {% else %}
                        <p>No data available to display</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
</main>

<script src=https://unpkg.com/chartkick@4.0.5/dist/chartkick.js></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@2.0.0/dist/chartjs-adapter-date-fns.bundle.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    new Chartkick.GeoChart("themap", {{ locations | safe }});
</script>

</body>

{% endblock %}
