{% extends "base.html" %}

{% block title %}HatBoard · Overview{% endblock %}
{% block body %}

<body class="nav-fixed bg-light">
<main>
    <div class="row gx-5">
        <div class="col-lg-6 mb-5">
            <div class="card card-raised h-100">
                <div class="card-header bg-transparent px-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-4">
                            <h2 class="card-title mb-0">Categories</h2>
                            <div class="card-subtitle">Modules Categories</div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">
                    <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                        <div class="w-100">
                            {% if categories %}
                            <div id="thepie"></div>
                            {% else %}
                            <p>No data available to display</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card card-raised h-100">
                <div class="card-header bg-transparent px-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-4">
                            <h2 class="card-title mb-0">Platfoms</h2>
                            <div class="card-subtitle">Modules Platforms</div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">
                    <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                        <div class="w-100">
                            {% if platforms %}
                            <div id="thepie2"></div>
                            {% else %}
                            <p>No data available to display</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-raised">
        <div class="card-header bg-transparent px-4">
            <div class="d-flex justify-content-between align-items-center">
                <div class="me-4">
                    <h2 class="card-title mb-0">Modules</h2>
                    <div class="card-subtitle">Available Modules</div>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Module</th>
                    <th>Rank</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for module in modules %}
                <tr>
                    <td>{{ module.number }}</td>
                    <td>{{ module.module }}</td>
                    <td>{{ module.rank }}</td>
                    <td>{{ module.name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

<script src="/static/js/datatable.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>

<script src="https://unpkg.com/chartkick@4.0.5/dist/chartkick.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@2.0.0/dist/chartjs-adapter-date-fns.bundle.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    new Chartkick.PieChart("thepie", {{ categories | safe }}, {donut: true, download: {background: "#fff"}});
</script>

<script>
    new Chartkick.PieChart("thepie2", {{ platforms | safe }}, {donut: false, download: {background: "#fff"}});
</script>

</body>

{% endblock %}